<div id="wrapper">
	<app-side-bar inspinia-initialize></app-side-bar>

	<div id="page-wrapper" class="gray-bg dashbard-1">
		<div class="row">
			<app-nav-bar></app-nav-bar>
		</div>

		<!--<div class="row wrapper border-bottom white-bg page-heading">
			<div class="col-lg-10">
				<h2></h2>
				<ol class="breadcrumb">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
						<a>Tables</a>
					</li>
					<li class="active">
						<strong>Static Tables</strong>
					</li>
				</ol>
			</div>
			<div class="col-lg-2">

			</div>
		</div>-->


		<router-outlet></router-outlet>
	</div>
</div>