<!--View Design-->
<div *ngIf="mode == 'VIEW'" class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-md-7">
			<div class="ibox float-e-margins">
				<!--Title-->
				<div class="ibox-title">
					<h5>Demand Transfer Details</h5>
					<div class="ibox-tools">
						<div class="btn-group">
							<button type="button" (click)="initEditScreen()" class="btn btn-white btn-sm"><i class="fa fa-pen"></i> Edit details </button>
							<button type="button" (click)="back()" class="btn btn-white btn-sm"><i class="fa fa-pen"></i> Back </button>
						</div>
					</div>
				</div>
				<!--Content-->
				<div class="ibox-content">
					<div class="row">
						<div class="col-md-12 padding-left-35">
							<!--Date-->
							<div class="form-group row">
								<label class="col-md-3 control-label">Date</label>
								<label class="col-md-8 control-value colon-before">{{details.date}}</label>
							</div>
							<!--Transfer From-->
							<div class="form-group row">
								<label class="col-md-3 control-label">Transfer From</label>
								<label class="col-md-8 control-value colon-before">{{details.transfer_from_name}}</label>
							</div>
							<!--To Sales Team-->
							<div class="form-group row">
								<label class="col-md-3 control-label">Transfer To</label>
								<label class="col-md-8 control-value colon-before">{{details.transfer_to_name}}</label>
							</div>
							<!--Trays-->
							<div class="form-group row">
								<label class="col-md-3 control-label">Trays</label>
								<label class="col-md-8 control-value colon-before">{{details.no_of_plates}}&ensp;trays.</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Edit Design-->
<div *ngIf="mode == 'ADD' || mode == 'EDIT'" class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Provide Demand Transfer Details</h5>
				</div>
				<div class="ibox-content">
					<form *ngIf="form" [formGroup]="form" (ngSubmit)="save()" role="form">
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label>Date</label>
									<datetime id="datetimepicker1i" name="date" [timepicker]="false" [datepicker]="datepickerOptions" formControlName="date"></datetime>
									<control-messages [control]="form.controls.date"></control-messages>
								</div>
								<div class="form-group">
									<label>Transfer From</label>
									<ng-select allowClear="true" [items]="formData.sales_teams" [multiple]="false" (selected)="updateFromSt('changed', $event)" (removed)="updateFromSt('removed', $event)"
										[active]="selectedFromSt? [selectedFromSt]: []" placeholder="Select from sales team">
									</ng-select>
									<control-messages [control]="form.controls.transfer_from"></control-messages>
								</div>
								<div class="form-group">
									<label>Transfer To</label>
									<ng-select allowClear="true" [items]="formData.sales_teams" [multiple]="false" (selected)="updateToSt('changed', $event)"
										(removed)="updateToSt('removed', $event)" [active]="selectedToSt? [selectedToSt]: []" placeholder="Select to sales team">
									</ng-select>
									<control-messages [control]="form.controls.transfer_to"></control-messages>
								</div>
								<div class="form-group">
									<label>Trays</label>
									<input type="number" formControlName="no_of_plates" placeholder="No of trays" class="form-control">
									<control-messages [control]="form.controls.no_of_plates"></control-messages>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-sm-12 text-right">
								<span [hidden]="state != 'FailedToSave'" class="text-danger">Failed to save. Please try again ... </span>

								<button type="button" [disabled]="state == 'saving'" (click)="cancel()" class="btn btn-sm btn-warning m-t-n-xs"><strong>Cancel</strong></button>

								<button type="submit" [disabled]="!form.valid || state == 'saving'" class="btn btn-sm btn-primary m-t-n-xs">
									<strong [hidden]="state == 'saving'">Save</strong>
									<strong [hidden]="state != 'saving'">Saving <i class="fa fa-spinner fa-spin"></i></strong>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>