
<div class="lock-word animated fadeInDown">
    <!--<span class="first-word">LOCKED</span><span>SCREEN</span>-->
</div>
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div class="m-b-md">
            <img alt="image" class="img-circle circle-border" src="assets/img/company_logo.png">
            </div>
            <h3>Welcome to {{CompanyName}}</h3>
            
            <router-outlet></router-outlet>
        </div>
    </div>
