<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12 col-xs-12">
			<div class="ibox float-e-margins">
				<!--Header-->
				<div class="ibox-title">
					<h5>{{ screenName }} </h5>

					<div class="ibox-tools">
						<!--Add new button-->
						<button *ngIf="addButtonInfo && addButtonInfo.text" class="btn btn-primary btn-sm mb-xs add-user" type="button" (click)="navigateToAddScreen()">{{ addButtonInfo.text }}</button>
					</div>
				</div>

				<div class="ibox-content scroll-x">
					<!--Table-->
					<ng-table [rows]="rows" [columns]="columns" (tableChanged)="onChangeTable(config, '', 'column')" (linkClicked)="linkClicked($event)"
						[config]="config"></ng-table>

					<!--Footer-->
					<div class="row">
						<div class="col-sm-4 m-b-xs">
							<div>Show &ensp;
								<select [(ngModel)]="limit" (change)="changeLimit()" class="input-sm table-limit">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                            </select> &ensp; entries</div>
						</div>
						<div class="col-sm-8 m-b-xs">
							<pagination class="pagination no-margin" [(ngModel)]="page" [totalItems]="totalRecords" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize"
								[boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event, 'page')" (numPages)="numPages = $event">
							</pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>