<!--User password reset Form-->
<div *ngIf="token">
	<p>Enter New Password</p>
	<form *ngIf="passwordResetForm" [formGroup]="passwordResetForm" (submit)="resetPassword()">
		<div formGroupName="passwords" class="">
			<div class="form-group">
				<input type="password" formControlName="password" class="form-control" placeholder="Password">
				<control-messages [control]="passwordResetForm.controls.passwords.controls.password"></control-messages>
			</div>

			<div class="form-group">
				<input type="password" formControlName="confirm_password" class="form-control" placeholder="Confirm password">
				<control-messages [control]="passwordResetForm.controls.passwords.controls.confirm_password"></control-messages>
				<control-messages [control]="passwordResetForm.controls.passwords"></control-messages>
			</div>

			<div class="login-error">
				<div *ngIf="!resetError">&ensp;</div>
				<div *ngIf="resetError" class="form-error">Failed to reset password. Please try again.</div>
			</div>

			<button type="submit" [disabled]="!passwordResetForm.valid || process == 'reset_processing'"  class="btn btn-primary block full-width m-b">
                    <span *ngIf="process != 'reset_processing'"> Reset password &nbsp;</span>
                        <span *ngIf="process == 'reset_processing'">
                            Resetting password &ensp;
                        <i class="fa fa-spinner fa-spin"></i>
                    </span>
                </button>

			<a [routerLink]="['/auth/login']"><small>Remember password ? &ensp;Login here.</small></a>
		</div>
	</form>
</div>

<!--Display messages-->
<div *ngIf="!token" class="login_form_selection-display-block">
	<h6 *ngIf="process == 'verification_processing'" class="text-info padding-top-50">
		<i class="fa fa-spinner fa-spin"></i> &nbsp;Verification in process.
	</h6>

	<!--Link verfication error message-->
	<h6 *ngIf="process =='verification_failed'" class="text-warning padding-top-50">
		<i class="fa fa-exclamation-circle"></i>&nbsp;{{ verificationError }}
		<br>
		<a [routerLink]="['/auth/password/reset']" class="padding-left-20">Get new reset link.</a>
	</h6>

	<!--Password reset success message-->
	<h6 *ngIf="process == 'reset_success'" class="text-info padding-top-50">
		<i class="fa fa-check-circle"></i> &nbsp;Password changed successfully. Login with new credentials
		<a [routerLink]="['/auth/login']">here</a>.
	</h6>
</div>